* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem; 
  color: #333;
  text-align: center;
}

p {
  font-size: 1rem; 
  color: #464646;
}

button, a {
  margin-block: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
  background: rgb(82, 82, 82);
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem; 
}

button:hover, a:hover {
  background: #8f1e1e;
}

main {
  font-family: 'Segoe UI', sans-serif;
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ebeb48 50%, #09645f);
  padding: 1rem; 
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;

  .text {
    padding: 1.5rem;
    text-align: justify;
    width: 100%; 
    p {
      font-size: 1rem; 
      max-width: 90%; 
    }
    h3 {
      font-size: 1.5rem; 
      text-align: center;
    }
  }

  .choices {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
  }
}


@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  button, a {
    font-size: 1.2rem;
  }
  main {
    padding: 2rem;
  }
  .game {
    flex-direction: row; 
    .text {
      max-width: 60%;
    }
    .choices {
      align-items: flex-start;
    }
  }
}
